.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 4fr 1fr;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

aside:first-of-type {
    grid-column: 1/2;
    grid-row: 1;
    color: purple;
}
aside:first-of-type:hover {
    cursor: default;
    opacity: 0.8;
}
    
aside:last-of-type {
    grid-column: 3/4;
    grid-row: 1;
    text-align: right;
}

main {
    grid-column: 2/3;
    grid-row: 2/2;
    text-align: center;
}

main div {
    padding: 2%;
}



button, #submitBtn {
    background-color: purple;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    opacity: 1;
    transition: all 0.4s ease 0s;
}

#submitBtn:hover , button:hover {
    opacity: 0.8;
}

ol{
    text-align: left;
    list-style: none;
    counter-reset: item;
}

ol li {
    counter-increment: item;
    margin-bottom: 5px;
}

ol li::before {
    margin-right: 10px;
    content: counter(item);
    background: lightsalmon;
    border-radius: 100%;
    color: white;
    width: 1.2em;
    text-align: center;
    display: inline-block
}

ol li:nth-child(odd) {
    padding-left: 1em;
    background:violet;
    border: none;
    border-radius: 5px;
  }
  
ol li:nth-child(even) {
    padding-left: 1em;
    background:lightpink;
    border: none;
    border-radius: 5px;
}

.quiz {
    text-align: left;
}

.highScore {
    text-align: center;
}

ul {
    list-style-type: none
}

